<fieldset>
    <legend>All Products</legend>
</fieldset>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prod in vm.products">
                    <td>{{ prod.productId }}</td>
                    <td>{{ prod.name }}</td>
                    <td>
                        <a ng-click="vm.remove(prod.productId)" class="text-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        <a ui-sref="products.update({productId: prod.productId})"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>